<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">


    <!--<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
        <!--<property name="dataSource" ref="dataSource"/>-->
        <!--<property name="configLocation" value="classpath:quartz.properties"/>-->
        <!--<property name="schedulerName" value="CRMscheduler"/>-->

        <!--&lt;!&ndash;必须的，QuartzScheduler 延时启动，应用启动完后 QuartzScheduler 再启动 &ndash;&gt;-->
        <!--<property name="startupDelay" value="5"/>-->

        <!--<property name="applicationContextSchedulerContextKey" value="applicationContextKey"/>-->

        <!--<property name="jobFactory"></property>-->

        <!--&lt;!&ndash;可选，QuartzScheduler 启动时更新己存在的Job，这样就不用每次修改targetObject后删除qrtz_job_details表对应记录了 &ndash;&gt;-->
        <!--<property name="overwriteExistingJobs" value="true"/>-->
        <!--&lt;!&ndash; 设置自动启动 &ndash;&gt;-->
        <!--<property name="autoStartup" value="true"/>-->

        <!--<property name="jobDetails">-->
            <!--<list>-->
            <!--</list>-->
        <!--</property>-->
        <!--<property name="triggers">-->
            <!--<list>-->
            <!--</list>-->
        <!--</property>-->
    <!--</bean>-->
</beans>
